<div id="<%= dom_id horoscope %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= horoscope.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= horoscope.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sign:</strong>
    <%= horoscope.sign_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= horoscope.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End date:</strong>
    <%= horoscope.end_date %>
  </p>

</div>
